body {
    margin: 0;
    padding: 0;
    background: #9ACEEB;
    font-family: sans-serif;
}

.basis {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box {
    border-radius: 150px;
    width: 300px;
    padding: 40px;
    background: #606E8C;
    text-align: center;
}

h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

input[type = "text"], input[type = "password"], input[type = "email"] {
    border: 0;
    background: #A2A2D0;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #9ACEEB;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

input::placeholder {
    color: #C0D4DE;
}

input[type = "text"]:focus, input[type = "password"]:focus, input[type = "email"]:focus {
    width: 280px;
    border-color: #A2A2D0;
}

button {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #A2A2D0;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 1s;
    cursor: pointer;
}

button {
    background: #A2A2D0;
}

.separateButton {
    text-align: center;
}