body {
    margin: 0;
    padding: 0;
    background: #3498DB;
    font-family: sans-serif;
}

.box {
    border-radius: 150px;
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #34495E;
    text-align: center;
}
