<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Панель администратора</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/all.css" media="all" rel="stylesheet"
          th:href="@{/css/all.css}" type="text/css"/>
    <link href="../static/css/table.css" media="all" rel="stylesheet"
          th:href="@{/css/table.css}" type="text/css"/>
</head>
<body>
    <div class="basis">
        <div class="box">
            <table class="table">
                <tr>
                    <th>Логин</th>
                    <th>Почта</th>
                    <th>Роль</th>
                    <th>Пароль</th>
                    <th style="width: 150px;">
                        <form method="get" action="#">
                            <button type="submit">Добавить админа</button>
                        </form>
                    </th>
                </tr>
                <tr th:each="user: ${users}">
                    <td th:text="${{user.getLogin()}}"/>
                    <td th:text="${{user.getEmail()}}"/>
                    <td th:text="${{user.getRole().getName()}}"/>
                    <td th:text="${{user.getPassword()}}"/>
                    <td>
                        <div>
                            <form method="get" th:action="@{|/admin/user/${user.getLogin()}/delete|}">
                                <button type="submit" class="separateButton">Удалить</button>
                            </form>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <form method="get" action="/logout" class="separateButton">
            <button type="submit">Выйти</button>
        </form>
    </div>
</body>
</html>