<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Файлы</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/all.css" media="all" rel="stylesheet"
          th:href="@{/css/all.css}" type="text/css"/>
</head>
<body>
    <div class="basis">
        <form method="get" action="/logout" class="separateButton">
            <button type="submit">Выйти</button>
        </form>
        <div class="box">
            <table class="table">
                <tr>
                    <th>Имя файла</th>
                    <th>Размер</th>
                    <th style="width: 150px;">
                        <form method="get" action="/files/add">
                            <button type="submit">Добавить файл</button>
                        </form>
                    </th>
                </tr>
                <tr th:each="obj: ${res}">
                    <td th:text="${{obj.get().objectName()}}" th:id="${{obj.get().objectName()}}"/>
                    <td th:text="${{obj.get().size()}}"/>
                    <td>
                        <div>
                            <form method="get" th:action="@{|/files/${obj.get().objectName()}/delete|}" >
                                <button type="submit" class="separateButton">Удалить</button>
                            </form>
                            <button onclick="" class="separateButton">Поделиться</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <script th:src="@{/js/files.js}" src="files.html"></script>
</body>
</html>