<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Файлы</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/files.css" media="all" rel="stylesheet"
          th:href="@{/css/files.css}" type="text/css"/>
</head>
<body>

    <table>
        <tr th:each="obj: ${res}">
            <td th:text="${{obj.get().objectName()}}" />
        </tr>
    </table>
    <form method="get" action="/files/add">
        <button type="submit">Добавить файл</button>
    </form>

</body>
</html>