<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Разрешение на скачивание</title>
    <link href="../static/css/all.css" media="all" rel="stylesheet"
          th:href="@{/css/all.css}" type="text/css"/>
</head>
<body>
    <div class="basis">
        <div class="box">
            <h3>Пользователь <span th:text="${req.getRecipient().getLogin()}"></span> хочет скачать файл. Разрешить?</h3>
            <div style="display: flex; align-items: center;  justify-content: center;">
                <form th:action="@{|${url}/no|}" style="padding: 20px">
                    <button type="submit">Нет</button>
                </form>
                <form th:action="@{|${url}/yes|}" style="padding: 20px">
                    <button type="submit">Да</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>