<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link href="../static/css/all.css" media="all" rel="stylesheet"
          th:href="@{/css/all.css}" type="text/css"/>
</head>
<body>
    <div class="basis">
        <form class="box" method="post">
            <h1>Вход</h1>
            <input type="text" placeholder="Введите логин" id="username" name="username">
            <input type="password" placeholder="Введите пароль" id="password" name="password">
            <button type="submit">Войти</button>
        </form>
        <form method="get" action="/registration" class="separateButton">
            <button type="submit">Создать аккаунт</button>
        </form>
    </div>
</body>
</html>