<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация администратора</title>
    <link href="../static/css/all.css" media="all" rel="stylesheet"
          th:href="@{/css/all.css}" type="text/css"/>
</head>
<body>
<div class="basis">
    <form class="box" method="post" th:action="@{/admin/add}" th:object="${admin}">
        <h1>Регистрация администратора</h1>
        <input type="text" placeholder="Введите логин" name="login" th:field="*{login}">
        <input type="email" placeholder="Введите почту" name="email" th:field="*{email}">
        <input type="password" placeholder="Введите пароль" name="password" th:field="*{password}">
        <button type="submit">Зарегистрироваться</button>
    </form>
    <form method="get" action="/admin" class="separateButton">
        <button type="submit">Назад</button>
    </form>
</div>

</body>
</html>