<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link href="../static/css/all.css" media="all" rel="stylesheet"
          th:href="@{/css/all.css}" type="text/css"/>
</head>
<body>
    <div th:switch="${req.getStatus().getName()}">
        <p th:case="'Доступен'">Файл <span th:text="${req.getFile().getName()}"></span> скачен</p>
        <p th:case="'Заблокирован'">Пользователь <span th:text="${req.getFile().getOwner().getLogin()}"></span> ограничил права на скачивание данного файла</p>
        <p th:case="'Отправлен отправителю'">Запрос на подтвеерждение скачивание файла отправлен пользователю <span th:text="${req.getFile().getOwner().getLogin()}"></span></p>
    </div>
</body>
</html>