<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link href="../static/css/all.css" media="all" rel="stylesheet"
          th:href="@{/css/all.css}" type="text/css"/>
</head>
<body>
    <div class="basis">
        <div class="box">
            <div th:switch="${req.getStatus().getName()}">
                <h3 th:case="'LOCKED'">Пользователь <span th:text="${req.getFile().getOwner().getLogin()}"></span> ограничил права на скачивание данного файла</h3>
                <h3 th:case="'SENT'">Запрос на подтверждение скачивания файла отправлен пользователю <span th:text="${req.getFile().getOwner().getLogin()}"></span></h3>
            </div>
        </div>
    </div>
</body>
</html>